<section>
<div>
<br>
</div>

</section>

{% schema %}
  {
    "name": "New blank",
    "presets": [{ "name": "New blank"}],
    "settings": []
  }
 
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}