<section class="featured_product" id="featured_product">
<div>
<center><a href=""> Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus. </a></center>
</div>
<div>
<center><a href=""> John Does - CEO ENVATO </a></center>
</div>
</section>

<style>
</style>


{% schema %}
  {
    "name": "New Link1",
    "presets": [{ "name": "New Link1"}],
    "settings": []
  }
 
{% endschema %}