<section class="featured_product" id="featured_product">
<div>
<center>
<table>
<tr>
<td><center><a href=""> Read More </a></center>
</td>
<td><center><a href=""> Read More </a></center>
</td>
<td><center><a href=""> Read More </a></center></td>
</tr>
</table>
</center>
</div>
</section>

<style>
</style>


{% schema %}
  {
    "name": "New Link",
    "presets": [{ "name": "New Link"}],
    "settings": []
  }
 
{% endschema %}