<section class="featured_product" id="featured_product">
{{ 'Hello World' }}
</section>

<style>
</style>

{% schema %}
{
    "name": "Sneaky Product",
    "settings": [],
    "presets": [{
        "name": "Sneaky Product"
        }]
   
}
{% endschema %}