<section class="featured_product" id="featured_product">
<div>
<center><a href=""> MAN </a>    / <a href=""> WOMAN </a>  / <a href=""> ACCESORIES </a></center>
</div>
</section>

<style>
</style>


{% schema %}
  {
    "name": "New Store",
    "presets": [{ "name": "New Store"}],
    "settings": []
  }
 
{% endschema %}





{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}