<section>
<table>
<div>



<center><img src="{{ section.settings.image  |  img_url: 'large' }}" alt=""/></center>


</div>
</table>

</section>
<style>




</style>

{% schema %}
 {
    "name": "New Tao",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Upload Image"
     }
    ],

    "presets": [{"name": "New Tao"}]
}
{% endschema %}