<section class="featured_product" id="featured_product">
<div>
<center>TESTIMONIALS</center>
</div>
</section>

<style>
</style>


{% schema %}
  {
    "name": "New testimonial",
    "presets": [{ "name": "New testimonial"}],
    "settings": []
  }
 
{% endschema %}